<!DOCTYPE html>
<html>
<head>
  <title>Book Shop</title>
  <link href="https://fonts.googleapis.com/css?family=Amarante|Black" rel="stylesheet">
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <h1 id="logo">Childrens' Book Shop</h1>
  <nav id="menu">
    <li align="left" class="menu-item">
      <a align="left" href="/books">Book List</a>
    </li>
    <li align="left" class="menu-item">
      <a align="left" href="/authors">Author List</a>
    </li>
  </nav>
  <%= yield %>
</body>
</html>

