<!DOCTYPE html>
<html>
<head>
  <title>Book Shop</title>
  <link href="https://fonts.googleapis.com/css?family=Amarante|Rye" rel="stylesheet">
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <h1 id="logo">Book Shop Inventory</h1>
  <nav id="menu">
    <li class="menu-item">
      <a href="/books">List or add books</a>
    </li>
    <li class="menu-item">
      <a href="/authors">List or add authors</a>
    </li>
  </nav>
  <%= yield %>
</body>
</html>

