<!DOCTYPE html>
<html>
<head>
  <title>Authors</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <nav>
    <a href="/authors">All Authors</a>
    <a href="/titles">All Titles</a>
  </nav>
  <%= yield %>
</body>
</html>