<h1>Authors Inventory</h1>

<table>
  <tr>
    <th>First Name</th>
    <th></th>
    <th>Second Name</th>
    <th></th>
    <th>ID</th>

  </tr>
  <% for author in @authors %>
  <tr>
    <td><%= author.first_name %></td>
    <th></th>
    <td><%= author.last_name %></td>
    <th></th>
    <td><%= author.id %></td>
  </tr>
  <% end %>
</table>

<p><a href="/authors/new">Add an author</a></p> 