<h1>Inventory of Authors</h1>

<p><a href="/authors/new">Add an author</a></p> 

<table>

  <tr>
    <th>First Name</th>
    <th></th>
    <th>Second Name</th>
  </tr>

  <% for author in @authors %>
  <tr>
    <td><%= author.first_name %></td>
    <th></th>
    <td><%= author.last_name %></td>
    <td>
      <form method="post" action="/authors/<%= author.id %>/delete">
       <input type="submit" value="Remove Author"/>
      </form>
    </td>
    <td>
      <a href="/authors/<%= author.id %>/edit">Edit Author</a>
    </td>
  </tr>
  <% end %>
</table>

