<form action="/authors/new" method="POST">  

  <lable for="first-name-field">First Name:</lable>
  <input id="first-name-field" name="first_name" type="text" />

  <label for="last-name-field">Last Name:</label>
  <input id="last-name-field" name="last_name" type="text" >

  <!-- <lable for="pizza-select"<Select your pizza:</label>
  <select id="pizza-select" name="topping">
    <option value="Margherita">Margherita</option>
    <option value="Pepperoni">Pepperoni</option>
  </select> -->

  <!-- <label for="quantity">How many do you want?</label>
  <input id="quantity" name="quantity" type="number" >
 -->
  <input type="submit" value="Add Author">

</form>
