<form action="/authors" method="POST">  

  <lable for="first-name-field">First Name:</lable>
  <input id="first-name-field" name="first_name" type="text" />

  <label for="last-name-field">Last Name:</label>
  <input id="last-name-field" name="last_name" type="text" >

  <input type="submit" value="Add Author">

</form>
