<table>

  <form action="/authors" method="POST">  
 
    <tr>
     <td>    
      <lable for="first-name-field">Author First Name:</lable>
      <input id="first-name-field" name="first_name" type="text" />
     </td>
    </tr>
    <tr>
     <td>
     <label for="last-name-field">Author Last Name:</label>
     <input id="last-name-field" name="last_name" type="text" >
     </td>
    </tr>
    <tr>
     <td> 
      <input type="submit" value="Add Author">
     </td>
    </tr>

  </form>

 </table> 
