<p>My pizza:</p>

<p>Customer Name: <%= @pizza.pretty_name() %></p>
<p>Pizza Topping: <%= @pizza.topping %></p>
<p>Pizza Quantity: <%= @pizza.quantity %></p>
<hr/>

<!-- For edit:
 -->

 
<!-- Below the @pizza.id is POSTed in the action
 -->
<form method="POST" action="/pizzas/<%= @pizza.id %>/delete">
    
<!-- name is not needed, submit means send information via a button and value is just the writing on the button -->
<input type="submit" name = "delete" value="Delete Order">

</form>