<h1>All Books</h1>

<table>
  <tr>
    <th>Book</th>
    <th></th>
  </tr>
  <% for book in @books %>
  <tr>
    <td><%= book.title %></td>
    <td><%= book.quantity %></td>
    <!-- <td><%= book.author.first_name %></td>
    <td><%= book.author.last_name %></td> -->
    <td>|</td>
  </tr>
  <% end %>
</table>

<p><a href="/books/new">Add a book</a></p> 

