<form action="/books" method="POST">  

  <table>
   
  <tr>  
   <td>    
    <lable for="title-field">Title:</lable>
    <input id="title-field" name="title" type="text" />
    </td>
  </tr>

  <tr>  
   <td>
     <div class="form-el">
          <label for="author_select">Select an existing author:</label> 
          <select name="author_id" id="author_select">
           <% @authors.each do |author| %>
                <option value=<%= author.id %>><%= author.author_full_name() %></option>
           <% end %>
         </select>
     </div>
    </td>
  </tr>

  <tr>  
   <td>
    <label for="quantity">How many copies?</label>
    <input id="quantity" name="quantity" type="number" >
   </td> 
  </tr>

  <tr>  
   <td>
    <lable for="buy-price-field">Buy Price:</lable>
    <input id="buy-price-field" name="buy_price" type="text" />
   </td> 
  </tr>

  <tr>  
   <td>
     <lable for="sell-price-field">Sell Price:</lable>
     <input id="sell-price-field" name="sell_price" type="text" />
    </td> 
  </tr>

  <tr>  
   <td>
    <input type="submit" value="Add Book(s)">
   </td> 
  </tr>

  </table>

</form>
