<form action="/books" method="POST">  

  <lable for="first-name-field">Title:</lable>
  <input id="first-name-field" name="title" type="text" />

  <label for="quantity">How many copies?</label>
  <input id="quantity" name="quantity" type="number" >

  <input type="submit" value="Add Book">

</form>
