<form action="/books" method="POST">  

  <lable for="title-field">Title:</lable>
  <input id="title-field" name="title" type="text" />

  <div class="form-el">
        <label for="author_select">Select an existing author:</label> 
        <select name="author_id" id="author_select">
          <% @authors.each do |author| %>
              <option value=<%= author.id %>><%= author.get_full_name() %></option>
          <% end %>
        </select>
  </div>

  <label for="quantity">How many copies?</label>
  <input id="quantity" name="quantity" type="number" >

<input type="submit" value="Add Book(s)">

</form>
