body {
  padding: 30px;
  font-family: 'Black', cursive;
  color: black;
  background-image: url('../images/gruffalo-walking.gif');
  background-position: 70% 20%;
  background-size: 280px 260px;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: darkred;
}

#menu {
  width: 220px;
  display: flex;
  margin: 0 auto;
}

.menu-item {
  display: inline-block;
  flex-grow: 1;
  width: 150px;
  height: 60px;
  margin: 10px;
  border: 3px solid green;
  position: relative;
  right: 400px;
}

.menu-item-two {
  display: inline-block;
  flex-grow: 1;
  width: 150px;
  height: 60px;
  margin: 10px;
  border: 3px solid brown;
  position: relative;
  right: 400px;
}

.edit-link-blue {
  color: blue; 
  font-size: 15px;
}

#logo {
  text-align: left;
  color: purple;
  font-size: 40px;
}

#book-wrapper {
  margin-left: 300px;
}
.book {
  border: 5px double;
  margin: 0 35px 30px 0;  
  padding: 25px;
  width: 200px;
  display: inline-block;
}

.form-el {
  margin: 10px 0;
}

.form-wrapper .form-el input[type="submit" i] {
  margin-left: 180px;
}

.form-wrapper .form-el label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 160px;
  margin: 0 1em 0 0;
}
